.Meeting{
    min-height: 120px;
    margin-bottom: 20px;
    line-height: 1.7;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 10%;
    border: 1px solid rgb(173,173,173);
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    /* flex-wrap: wrap; */
    background-color: white;
}

.Meeting .Topic{
    font-size: x-large;
    font-weight: bold;
}

.MeetingHeader{
    /* width: 30%; */
    /* border: 1px solid black; */
    flex: 50%;
    text-align: left;
}

.Meeting .link{
    /* border: 1px solid black; */
    flex: 60%;
    text-align: left;

}

.Meeting .more{
    cursor: pointer;
}

.Meeting:hover{
    box-shadow: 2px 2px 10px rgb(197, 197, 197);
}

.Meeting.selected{
    background-color: rgba(170, 235, 170, 0.596);
}

.MeetingInfoBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}

.MeetingInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(238, 238, 238);
    position: fixed;
    width: 50vw;
    height: 80vh;
    top: 10%;
    left: 25%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(197, 197, 197);
}

.MeetingInfoInnerWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
}

.MeetingInfoInnerWrap>button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    height: 5%;
    width: 20%;
    border: none;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
}

.MeetingInfoInnerWrap>button:hover{
    /* background-color: rgba(0, 0, 0, 0.726); */
    box-shadow: 2px 2px 20px rgb(73, 75, 73);
}

.MeetingEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    font-size: larger;
    line-height: 1.5;
}

.MeetingEdit>input{
    width: 40%;
    height: 5%;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: inherit;
}

.PhoneInputInput{
    height: 30px;
}

.MeetingEdit textarea{
    width: 40%;
    height: 8%;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.MeetingEdit button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    height: 5%;
    width: calc(40% + 5px);
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: rgb(30, 199, 30);
    cursor: pointer;
}

.MeetingEdit button:hover{
    box-shadow: 2px 2px 20px rgb(105, 248, 129);
}

.MeetingDetail{
    /* border: 1px solid black; */
    width: 80%;
    height: 85%;
    line-height: 1.5;
}

.MeetingDetail>div{
    margin-top: 20px;
}



.MeetingDetail .Topic{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.CloseButton{
    /* border: 1px solid black; */
    display:flex;
    padding-right: 1%;
    width: 98%;
    height: 8%;
    /* align-self: flex-start; */
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.CloseButton .button{
    font-size: large;
    font-weight: bold;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.Participants{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.Participant{
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    align-items: center;
    padding: 2px 10px 2px 10px;
    border: 1px solid gray;
    border-radius: 20px;
}

