.Topbar{
    width:calc(100% - 2*20px);
    min-height: 55px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px grey;
    z-index: 0;
    background-color: white;
}

#SearchBar{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

#SearchBar input {
    width: 80%;
    height: 100%;
    font-size: 15px;
}

#AddContact{
    cursor: pointer;
}

#Manage{
    border: none;
    height: 30px;
    background-color: white;
    font-size: medium;
    cursor: pointer;
}

#Manage:hover{
    background-color: whitesmoke;
}

#Delete{
    border: none;
    height: 30px;
    background-color: white;
    font-size: medium;
    color: red;
    cursor: pointer;
}

#Delete:hover{
    background-color: whitesmoke;
}


.ContactFormWrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}

.ContactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(238, 238, 238);
    position: fixed;
    width: 50vw;
    height: 80vh;
    top: 10%;
    left: 25%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(197, 197, 197);
    font-size: larger;
    line-height: 1.5;
    overflow-y: auto;
}

.TopbarCloseButton{
    /* border: 1px solid black; */
    display:flex;
    padding-right: 1%;
    width: 98%;
    height: 8%;
    /* align-self: flex-start; */
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.TopbarCloseButton .button{
    font-size: large;
    font-weight: bold;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.ContactForm button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    height: 5%;
    width: 40%;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: rgb(30, 199, 30);
    cursor: pointer;
}

.ContactForm button:hover{
    box-shadow: 2px 2px 20px rgb(105, 248, 129);
}

.ContactForm button:active{
    transform: scale(0.98);
}


.ContactForm>input{
    width: 40%;
    height: 5%;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-family: inherit;
}

.PhoneInputInput{
    height: 30px;
}

.ContactForm textarea{
    width: 40%;
    height: 8%;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}