<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>check email</title>

<link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="formContainer">
        <div class="formLeft">
            <img src="images/avatar.jpg">
        </div>
        <div class="formRight">
            <!-- Forgot password form -->
            <form action = '/email'>
                <header>
                    <h1>Verification Code</h1>
                    <p>Enter the code you received</p>
                </header>
                <section>
                    <label>
                        <p>Code</p>
                        <input type="text" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Confirm</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn"><a href = "login">back</a></button>
                </footer>
            </form>
          </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
