<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>登录注册忘记密码页面</title>

<link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="formContainer" class="dwo">
        <div class="formLeft">
            <img src="images/avatar.jpg">
        </div>
        <div class="formRight">
            <!-- Forgot password form -->
            <form id="forgot" action = "/doForget" method = "post" class="otherForm">
                <header>
                    <h1>Forget Password?</h1>
                    <p>Enter Your Email Address</p>
                </header>
                <section>
                    <label>
                        <p>Email</p>
                        <input type="email" name = "Email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Confirm</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">back</button>
                </footer>
            </form>

            <!-- Login form -->
            <form id="login" action="/dologin" method = "post">
                <header>
                    <h1>Welcome back!</h1>
                    <p>Please login first</p>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" name="username" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" name="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Submit</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">Forget Password？</button>
                    <button type="button" class="registerBtn">New User？</button>
                </footer>
            </form>

            <!-- Register form -->
            <form id="register" action='/doregister' method = "post" class="otherForm">
                <header>
                    <h1>Register</h1>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" name = "Username" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>E-mail</p>
                        <input type="email" name = "Email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" name = "Password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Comfirm Password</p>
                        <input type="password" name = "Confirm_Password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Register</button>
                </section>
                <footer>
                    <button type="button" class="registerBtn">back</button>
                </footer>
            </form>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>