<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>登录注册忘记密码页面</title>

<link rel="stylesheet" href="css/normalize.min.css">
<link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div id="formContainer" class="dwo">
        <div class="formLeft">
            <img src="images/avatar.jpg">
        </div>
        <div class="formRight">
            <!-- Forgot password form -->
            <form id="forgot" class="otherForm">
                <header>
                    <h1>忘记密码</h1>
                    <p>输入邮箱找回密码</p>
                </header>
                <section>
                    <label>
                        <p>邮箱</p>
                        <input type="email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">发送邮件</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">返回</button>
                </footer>
            </form>

            <!-- Login form -->
            <form id="login" action="/dologin" method = "post">
                <header>
                    <h1>Welcome back!</h1>
                    <p>Please login first</p>
                </header>
                <section>
                    <label>
                        <p>Username</p>
                        <input type="text" name="username" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>Password</p>
                        <input type="password" name="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">Submit</button>
                </section>
                <footer>
                    <button type="button" class="forgotBtn">忘记密码？</button>
                    <button type="button" class="registerBtn">新用户？</button>
                </footer>
            </form>

            <!-- Register form -->
            <form id="register" class="otherForm">
                <header>
                    <h1>用户注册</h1>
                    <p>注册后享受更多服务</p>
                </header>
                <section>
                    <label>
                        <p>用户名</p>
                        <input type="text" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>邮箱</p>
                        <input type="email" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>密码</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <label>
                        <p>重复密码</p>
                        <input type="password" placeholder=" ">
                        <div class="border"></div>
                    </label>
                    <button type="submit">注 册</button>
                </section>
                <footer>
                    <button type="button" class="registerBtn">返回</button>
                </footer>
            </form>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>